@import "../variables.scss";
@import "../mixins.scss";

.contacts__container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 120px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  @include vp-1023 {
    padding: 100px 45px;
    gap: 30px;
  }

  @include vp-767 {
    padding: 65px 15px;
    flex-direction: column-reverse;
    gap: 40px;
  }
}

.contacts__map {
  display: block;

  @include vp-1023 {
    width: 324px;
    height: 335px;
    flex-shrink: 0;
  }

  @include vp-767 {
    height: 316px;
    width: 100%;
  }
}

.contacts__wrapper {
  max-width: 500px;
}

.contacts__wrapper p {
  margin: 0 0 40px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-tangaroa;
}

.contacts__wrapper address svg {
  flex-shrink: 0;
  margin-top: 5px;
}

.contacts__wrapper address {
  display: flex;
  gap: 10px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $color-tangaroa;
  margin-bottom: 25px;

  @include vp-1023 {
    margin-bottom: 30px;
  }
}

.contacts__phone-link {
  display: inline-flex;
  gap: 10px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $color-tangaroa;
}
