@import "../variables.scss";
@import "../mixins.scss";

.footer {
  background-color: $color-tangaroa;
}

.footer__container {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 10px;
  align-items: center;

  @include vp-1023 {
    padding: 50px 45px;
  }

  @include vp-767 {
    padding: 40px 15px;
    display: block;
  }
}

.footer__wrapper {
  display: flex;
  gap: 40px;
  align-items: center;

  @include vp-1023 {
    gap: 25px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 30px;
  }
}

.footer__navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  max-width: 800px;

  @include vp-1023 {
    gap: 23px;
    max-width: 440px;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.footer__navigation-item {
  display: flex;
}

.footer__navigation-link {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-alice-blue;

  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }

  @include hover {
    opacity: 0.5;
  }

  @include focus {
    outline: 1px solid $color-alice-blue;
  }
}

.footer__social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  max-width: 120px;

  @include vp-1023 {
    gap: 22px;
    max-width: 92px;
  }
}

.footer__social-link {
  display: flex;

  @include hover {
    opacity: 0.5;
  }

  @include focus {
    outline: 1px solid $color-alice-blue;
  }
}

.footer__logo {
  @include hover {
    opacity: 0.5;
  }

  @include focus {
    outline: 1px solid $color-alice-blue;
  }
}

.footer__logo-image {
  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}

.footer__social-logo {
  @include vp-1023 {
    width: 16px;
    height: 16px;
  }
}
