@import "../variables.scss";
@import "../mixins.scss";

.form__input {
  margin-bottom: 20px;
}

.form__input span {
  color: #ff4646;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
}

.form__input-email {
  margin-bottom: 20px;
}

.form__input input {
  width: 100%;
  padding: 11px 10px 11px 16px;
  border: none;
  background-color: $color-alice-blue;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $color-tangaroa;

  @include focus {
    outline: 2px solid #b1d9fa;
  }
}

.form__checkbox label {
  position: relative;
  cursor: pointer;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  color: $color-alice-blue;
  display: block;
  padding: 5px 0 5px 23px;

  @include hover {
    opacity: 0.5;
  }

  @include focus {
    outline: 1px solid $color-alice-blue;
  }

  @include active {
    opacity: 0.3;
  }

  @include vp-767 {
    line-height: 120%;
    padding: 0 0 0 28px;
  }
}

.form__checkbox div {
  position: absolute;
  left: 0;
  top: 2px;
  width: 18px;
  height: 18px;
  background-color: $color-alice-blue;

  &::after {
    content: "";
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 2.5L5.28571 7L11 1' stroke='%23101A56'/%3E%3C/svg%3E%0A");
    width: 12px;
    height: 8px;
    background-repeat: no-repeat;
    left: 3px;
    top: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

.form__checkbox input[type="checkbox"]:checked+div::after {
  opacity: 1;
}

.form__checkbox {
  margin-bottom: 30px;
  position: relative;
}

.form__checkbox input[type="checkbox"]:focus+div {
  outline: 2px solid #b1d9fa;
  opacity: 0.7;
}

.form__submit {
  width: 100%;
  padding: 11px 5px 13px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: $color-tangaroa;

  @include hover {
    opacity: 0.5;
  }

  @include focus {
    outline: 2px solid #b1d9fa;
  }

  @include active {
    opacity: 0.3;
  }
}

.form__checkbox span {
  color: #ff4646;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
}
