@import "../variables.scss";
@import "../mixins.scss";

.example {
  height: 600px;
  background-color: $color-tangaroa;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
  z-index: 1;

  @include vp-1023 {
    top: 30px;
  }

  @include vp-767 {
    top: 20px;
  }
}

.header__container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-1023 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
    }
  }

.header__burger-button {
  display: none;

  @include vp-767 {
    display: block;
    padding: 0;
    border: none;
    width: 24px;
    height: 12px;
    background-color: transparent;
    z-index: 2;

    &--open {
      display: flex;
    }

    &--close {
      display: none;
    }
  }
}

.header__navigation {
  @include vp-767 {
    opacity: 0;
    visibility: hidden;
    background-color: $color-alice-blue;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 90%;
    padding: 75px 30px 30px 15px;
    transition: all 0.3s ease;
    overflow-y: scroll;
  }
}

.header__navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  max-width: 1000px;

  @include vp-1023 {
    gap: 23px;
    max-width: 600px;
  }

  @include vp-767 {
    gap: 10px;
  }
}

.header__navigation-item {
  @include vp-767 {
    width: 100%;
    transform: translateX(70px);
    transition: transform 0.3s ease;
  }
}

.header__navigation-link {
  @include header-links-dekstop;

  @include vp-1023 {
    @include header-links-tablet;
  }

  @include vp-767 {
    @include header-links-mobile;
    display: block;
    padding: 10px;
  }

  @include hover {
    opacity: 0.5;
  }

  @include focus {
    outline: 1px solid $color-alice-blue;
  }
}

.header__logo {
  display: flex;

  @include vp-767 {
  }

  @include hover {
    opacity: 0.5;
  }

  @include focus {
    outline: 1px solid $color-alice-blue;
  }
}

.header__logo-image {
  fill: $color-alice-blue;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}

.is-open {
  @include vp-767 {
    .header__background {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 43, 102, 0.5);
    }

    .header__container {
      &::after {
        content: "";
        position: absolute;
        background-color: $color-alice-blue;
        width: 90%;
        right: 0;
        height: 75px;
        z-index: 1;
      }
    }

    .header__logo {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 20%;
    }

    .header__logo-image {
      fill: $color-tangaroa;
    }

    .header__navigation {
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }

    .header__navigation-item {
      transform: translateX(0);
    }

    .header__burger-button {
      position: absolute;
      top: 0;
      right: 15px;
      width: 13px;
      height: 13px;
      z-index: 2;

      &--open {
        display: none;
      }

      &--close {
        display: flex;
      }
    }
  }
}
