@import "../variables.scss";
@import "../mixins.scss";

.promo {
  min-height: 650px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: $color-tangaroa;
  z-index: 0;

  @include vp-1023 {
    box-shadow: none;
    min-height: 638px;
  }

  @include vp-767 {
    min-height: 500px;
  }
}

.promo__container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 274px 10px 30px 105px;

  @include vp-1023 {
    padding: 275px 45px 30px;
  }

  @include vp-767 {
    padding: 176px 15px 15px;
  }
}

.promo__background-image {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.promo__container h2 {
  @include main-title-dekstop;
  margin: 0 0 8px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    text-shadow: none;

    @include main-title-tablet;
    margin: 0 0 16px;
  }

  @include vp-767 {
    @include main-title-mobile;
    margin: 0 0 11px;
  }
}

.promo__container p {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color-alice-blue;
  margin: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    text-shadow: none;
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 140%;
    max-width: 230px;
  }
}
